.wrapper {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-light);
}
.gameDetailsContainer {
  width: 80%;
  height: 100%;
  display: flex;
  border-radius: var(--border-radius-medium);
  background-color: var(--card-color);
}
.gameDescriptionContainer,
.gameImageContainer {
  padding: var(--space-large) var(--space-large);
  flex: 1;
}
.gameDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}
.gameImage {
  width: 100%;
  border-radius: var(--border-radius-medium);
}
.addToCartBtn {
  height: 32px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: var(--border-radius-small);
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: var(--base-font-size);
  margin-top: var(--space-medium);
}
.addToCartBtn:hover {
  background-color: var(--secondary-color);
}
