.formWrapper {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/hero-section.jpg");
  padding: var(--space-x-large);
  color: var(--primary-color);
}
.signInForm {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  padding: var(--space-large);
  background-color: var(--primary-color-light);
  border-radius: var(--border-radius-medium);
}
.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: var(--space-medium);
  border-radius: var(--border-radius-medium);
}
.formGroupTitle {
  font-weight: bold;
}
.formInput {
  width: 100%;
  height: 32px;
  padding: 0 var(--space-small);
}
.signInButton {
  height: 48px;
  background-color: var(--primary-color);
  color: var(--text-light);
  border-radius: var(--border-radius-small);
  border: none;
  transition: all 0.3s ease-in-out;
  font-size: var(--base-font-size);
}
.signInButton:hover {
  background-color: var(--secondary-color);
}
.errorMessage {
  color: var(--text-error);
}
