.gamesWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sortFilterContainer {
  width: 100%;
  height: auto;
  padding: var(--space-medium) var(--space-x-large);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
}

.gamesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
  padding: var(--space-large) var(--space-x-large);
  background-color: var(--secondary-color-light);
}
