.verifyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/hero-section.jpg");
}

.verificationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);

  text-align: center;
  padding: var(--space-large);
  background: var(--primary-color-light);
  border-radius: var(--border-radius-large);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.verificationTitle {
  font-size: var(--large-font-size);
  color: var(--text-light);
}

.verificationText {
  font-size: var(--base-font-size);
  color: var(--primary-color-light);
  margin-bottom: var(--space-medium);
}

.resendButton {
  background: var(--primary-color);
  color: var(--text-light);
  border: none;
  padding: var(--space-medium) var(--space-large);
  font-size: var(--base-font-size);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resendButton:hover {
  background: var(--secondary-color);
}

.successMessage {
  color: var(--text-light);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);
}

.errorMessage {
  color: var(--text-error);
  font-size: var(--base-font-size);
  margin-top: var(--space-small);
}
